# R project settings
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.my.cnf

# Ignore all .Rproj files
*.Rproj

# Database file
azfanpage_comments_db.duckdb

# macOS system file
.DS_Store

# R application history
.Rapp.history

# Local database credentials
.my.cnf

# Node.js dependencies
node_modules/

# Logs and temporary files
*.log
*.tmp

# Environment files
.env
