# R project settings
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore all .Rproj files
*.Rproj

# Database file
azfanpage_comments_db.duckdb

# macOS system file
.DS_Store

# R application history
.Rapp.history

# Local database credentials
.my.cnf

# Also
.gitignore
.my.cnf.rtf
keys to the bentleys.rtf

# Ignore node_modules directory
node_modules/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment files
.env